@import url("https://fonts.cdnfonts.com/css/arial");
@import url("https://fonts.cdnfonts.com/css/recoleta");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
--------------------------------------------------------------*/
body {
  font-family: "recoleta", sans-serif;
  color: #061b1e;
  font-variant-ligatures: no-common-ligatures;
  background-color: #f2f2f2;
}

section {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 0;
  scroll-margin-top: 40px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-family: "recoleta", sans-serif;
  color: #1a5460;
}

h2 {
  font-family: "recoleta", sans-serif;
}

h3 {
  font-family: "recoleta", sans-serif;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Poppins", sans-serif;
}

p,
li {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
--------------------------------------------------------------*/
main.container {
  max-width: 100vw;
  padding: 0;
}

.top-section {
  z-index: -1;
  margin-top: -30vh;
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.top-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(0deg, #061b1e 25%, #fff 100%);
  mix-blend-mode: multiply;
  z-index: 0;
}
.top-section .container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
}
.top-section h1 {
  font-size: 32px;
  color: #f7e3a3;
  z-index: 10;
  margin-bottom: 1rem;
}
.top-section .bottom-img {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 100px;
  background-image: url(https://raw.githubusercontent.com/msabrishami/isc-website-mjhp/75b4ed659b4a692398f579b5a7e4446d26afdc6a/assets/img/header/header-bottom.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  position: relative;
  padding-top: 32px;
}
.main-title h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
  text-align: center;
}
.main-title .back-to-IP {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  color: #1a5460;
  text-transform: uppercase;
}
.main-title .back-to-IP svg {
  height: 24px;
  width: 24px;
}
.main-title .logo {
  position: absolute;
  right: 0;
  top: -12px;
}
.main-title .logo img {
  height: 44px;
  width: 44px;
}

.tab-navigation {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 8px 0px 0px;
  background-color: #1a5460;
  margin-bottom: 0;
  border-bottom: 1px solid #f7e3a3;
}
.tab-navigation .container {
  justify-content: center;
}
.tab-navigation .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.tab-navigation .nav .nav-link {
  transition: all 0.25s ease-in-out;
  transform-origin: top center;
  color: #f7e3a3;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 300;
  width: auto;
  height: 32px;
  padding: 0 8px;
  border-radius: 5px 5px 0 0;
  padding-top: 5px;
  position: relative;
  z-index: 10;
  margin-bottom: -1px;
}
.tab-navigation .nav .nav-link.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a5460;
  background-color: #f2f2f2;
  font-weight: 500;
  border-left: 1px solid #f7e3a3;
  border-top: 1px solid #f7e3a3;
  border-right: 1px solid #f7e3a3;
  border-bottom: 1px solid #f2f2f2;
}
.tab-navigation .nav .nav-link.active:hover, .tab-navigation .nav .nav-link.active:focus, .tab-navigation .nav .nav-link.active:active {
  background-color: #f2f2f2;
}

.title-lvl1 {
  border-bottom: 2px solid #061b1e;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.title-lvl1 h2 {
  margin-left: 0;
  margin-bottom: 0;
}

.title-lvl2 {
  border-bottom: 2px solid #061b1e;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.title-lvl2 .outline {
  display: flex;
  justify-content: start;
  align-items: center;
}
.title-lvl2 .outline h2 {
  margin-left: 8px;
  margin-bottom: 0;
}
.title-lvl2 .outline svg {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  color: #061b1e;
}

.tab-content .tab-title {
  text-align: center;
}
.tab-content .tab-title h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.tab-content .tab-outlines {
  width: 100%;
  border-top: 3px solid #061b1e;
  padding-top: 1.5rem;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.tab-content .tab-outlines .outline-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.75rem;
  height: 115px;
  background-color: rgba(26, 84, 96, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
.tab-content .tab-outlines .outline-container:hover, .tab-content .tab-outlines .outline-container:focus, .tab-content .tab-outlines .outline-container:active {
  background-color: rgba(26, 84, 96, 0.15);
}
.tab-content .tab-outlines .outline {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
  transition: all 0.25s ease-in-out;
  width: 100%;
}
.tab-content .tab-outlines .outline h2 {
  color: #061b1e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 0;
}
.tab-content .tab-outlines .outline svg {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-bottom: 8px;
  color: #061b1e;
}
.tab-content #pills-bank .tab-outlines {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.tab-content #pills-score .tab-outlines {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.tab-content #pills-card .tab-outlines {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.tab-content h5 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  padding-right: 0.25rem;
  display: inline-block;
  border-bottom: 2px solid #061b1e;
}
.tab-content .table {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.tab-content .table thead tr th {
  font-weight: bold;
  padding: 1rem;
  text-wrap: nowrap;
}
.tab-content .table tbody th {
  text-wrap: nowrap;
  padding: 1rem;
}
.tab-content .table tbody td {
  padding: 1rem;
}
.tab-content .alert {
  margin: 1rem auto 1rem;
  color: #061b1e;
  background-color: #fffdf8;
  border: 1px solid #1a5460;
  position: relative;
  overflow: hidden;
  padding-left: 5rem;
  font-size: 14px;
}
.tab-content .alert::before {
  content: url("../img/icons/financial/svg/idea.svg");
  position: absolute;
  top: 0;
  bottom: -5px;
  left: 0;
  width: 4rem;
  background-color: #1a5460;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-content .alert h5 {
  margin-left: 0;
  font-family: "recoleta", sans-serif !important;
  font-size: 18px;
  border-bottom: none;
  text-align: left;
  padding-right: 0;
}
.tab-content .alert p,
.tab-content .alert li {
  font-family: "recoleta", sans-serif !important;
  font-size: 14px;
}
.tab-content .accordion .accordion-item {
  margin-bottom: 8px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fffdf8;
}
.tab-content .accordion .accordion-item p {
  font-size: 14px;
  margin-bottom: 0;
}
.tab-content .accordion .accordion-item .accordion-button {
  outline: none;
  box-shadow: none;
}
.tab-content .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #fffdf8;
  color: #061b1e;
}
.tab-content .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.card {
  position: relative;
  margin-bottom: 2rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}
.card .card-content {
  z-index: 10;
}
.card .card-img-overlay {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  transition: all 0.25s ease-in-out;
  z-index: 0;
}
.card .card-text {
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
  display: block;
  margin-bottom: 0;
  color: #f7e3a3;
  font-size: 0.875rem;
  font-weight: 200;
  letter-spacing: 1px;
  transform-origin: 50% top;
  position: relative;
  margin-left: 0.75rem;
}
.card:hover, .card:focus, .card:active {
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.1450980392);
}

.main-resources {
  margin-bottom: 100px;
}
.main-resources .card {
  height: 150px;
}
.main-resources .card::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1a5460;
  opacity: 0.8;
  -webkit-clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0% 100%);
          clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0% 100%);
  transition: all 0.5s cubic-bezier(0.29, 0.13, 0.2, 0.71);
}
.main-resources .card .card-body {
  display: flex;
  padding: 1rem;
  z-index: 5;
}
.main-resources .card .card-body .card-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.main-resources .card .card-body .card-title {
  color: #f7e3a3;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  margin-bottom: 0.5rem;
}
.main-resources .card .card-body .card-text {
  color: white;
  visibility: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  margin-left: 0;
}
.main-resources .card .btn {
  width: 200px;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a5460;
  color: #f7e3a3;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.main-resources .card .btn:hover, .main-resources .card .btn:focus {
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2078431373);
}
.main-resources .card .card-img-overlay {
  mix-blend-mode: multiply;
  background-position: center;
}

.information-portal {
  margin-bottom: 10rem;
}
.information-portal .card {
  margin-bottom: 1rem;
}
.information-portal .card::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1a5460;
  opacity: 0.8;
  -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
          clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
  transition: all 0.5s cubic-bezier(0.29, 0.13, 0.2, 0.71);
}
.information-portal .card .card-header {
  z-index: 100;
}
.information-portal .card .card-header span {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f7e3a3;
  border: 2px solid #1a5460;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information-portal .card .card-header span img {
  width: 20px;
}
.information-portal .card .card-body {
  height: 149px;
  border-radius: 15px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(247, 227, 163, 0.21) 100%);
  background-blend-mode: multiply;
  display: flex;
  justify-content: start;
  align-items: end;
}
.information-portal .card .card-body .card-title {
  margin-bottom: 0;
  color: #f7e3a3;
  font-size: 22px;
  letter-spacing: 1px;
}
.information-portal .card .card-body .card-text {
  margin-left: 0;
  display: none;
}
.information-portal .card .card-img-overlay {
  mix-blend-mode: multiply;
  background-position: center;
}
.information-portal .card:hover .card-img-overlay, .information-portal .card:focus .card-img-overlay, .information-portal .card:active .card-img-overlay {
  right: -2px;
  left: -2px;
  top: -2px;
  bottom: -2px;
}

footer {
  padding: 2rem;
  background-color: #1a5460;
}
footer .social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
footer .social-media-links a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  margin: 0.25rem;
}
footer .social-media-links a svg {
  width: 20px;
  height: 20px;
  color: #1a5460;
}
footer .social-media-links a:hover {
  background-color: #f7e3a3;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.1450980392);
}
footer p {
  text-align: center;
  color: white;
}
footer .sponsor {
  margin-bottom: 1rem;
}
footer .sponsor a {
  color: #f7e3a3;
  text-decoration: underline;
}

/*--------------------------------------------------------------
--------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  header h1 {
    margin-bottom: 5rem;
  }
  section {
    position: relative;
    padding-top: 3rem;
    scroll-margin-top: 50px;
  }
  .tab-content #pills-bank .tab-outlines {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .tab-content #pills-score .tab-outlines {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .tab-content #pills-card .tab-outlines {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .tab-navigation .nav {
    justify-content: space-around;
    gap: 0;
  }
  .tab-navigation .nav .nav-link {
    min-width: 150px;
    height: 50px;
    font-size: 16px;
    padding-right: 12px;
    padding-left: 12px;
    letter-spacing: 0.25px;
  }
}
@media (min-width: 991px) {
  .top-section h1 {
    font-size: 48px;
    margin-bottom: 5rem;
  }
  .tab-navigation .nav {
    justify-content: center;
    gap: 32px;
  }
  .tab-navigation .nav .nav-link {
    background-color: rgba(247, 227, 163, 0.1);
  }
  .tab-navigation .nav .nav-link:hover, .tab-navigation .nav .nav-link:focus, .tab-navigation .nav .nav-link:active {
    background-color: rgba(247, 227, 163, 0.2);
  }
  .tab-navigation.fix-style .nav .nav-link {
    font-size: 16px;
  }
  .tab-navigation.fix-style .nav .nav-link.active {
    padding: 8px 12px;
  }
  .tab-navigation .container {
    justify-content: center;
  }
  .main-title .back-to-IP {
    top: unset;
  }
  .main-title .logo {
    position: absolute;
    right: 0;
    top: unset;
  }
  .tab-content .tab-outlines {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    margin-bottom: 2rem;
  }
  .tab-content .tab-outlines .outline-container {
    align-items: center;
    height: auto;
    padding-top: 0;
  }
  .tab-content .tab-outlines .outline {
    flex-direction: row;
    padding: 0.5rem;
  }
  .tab-content .tab-outlines .outline svg {
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    margin-right: 8px;
  }
  .tab-content .alert {
    margin: 2rem auto 2rem;
    max-width: 80%;
  }
  .title-lvl2 {
    padding-bottom: 1rem;
  }
  .main-resources .card {
    height: 200px;
  }
  .main-resources .card::before {
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0% 100%);
            clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0% 100%);
  }
  .main-resources .card .card-body {
    align-items: flex-end;
    padding: 1rem;
  }
  .main-resources .card .card-body .card-content .card-title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .main-resources .card .card-body .card-content .card-text {
    font-size: 16px;
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
  .main-resources .card .card-body .card-content .card-text::before {
    height: 0;
  }
  .main-resources .card .card-body .right-col {
    justify-content: center;
    margin-bottom: 0;
  }
  .main-resources .card:hover::before {
    -webkit-clip-path: polygon(0 0, 130% 0, 150% 100%, 0% 100%);
            clip-path: polygon(0 0, 130% 0, 150% 100%, 0% 100%);
  }
  .main-resources .card:hover .card-body .card-text {
    height: 100px;
    line-height: 1.2;
    padding-top: 5px;
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .information-portal .card .card-body {
    align-items: end;
  }
  .information-portal .card .card-body .card-title {
    color: #f7e3a3;
    font-size: 18px;
    margin-bottom: 0;
    transition: all 0.5s ease-in-out;
  }
  .information-portal .card .card-body .card-text {
    display: block;
    opacity: 0;
    height: 0;
  }
  .information-portal .card:hover::before {
    -webkit-clip-path: polygon(0 0, 130% 0, 150% 100%, 0% 100%);
            clip-path: polygon(0 0, 130% 0, 150% 100%, 0% 100%);
  }
  .information-portal .card:hover .card-body .card-text {
    height: 100px;
    line-height: 1.2;
    padding-top: 5px;
    opacity: 1;
  }
  footer .social-media-links {
    justify-content: flex-end;
  }
  footer p {
    text-align: left;
  }
  footer .sponsor {
    margin-bottom: 0;
  }
  footer .sponsor a {
    color: #f7e3a3;
    text-decoration: underline;
  }
}/*# sourceMappingURL=style.css.map */