@import url("https://fonts.cdnfonts.com/css/arial");
@import url("https://fonts.cdnfonts.com/css/recoleta");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$color_primary1: #1a5460;
$color_primary2: #f7e3a3;

$color_secondary1: #eeff30;
$color_secondary2: #f0f0f0;

$text_dark: #061b1e;

$font-family_1: "recoleta", sans-serif;
$font-family_3: "arial", sans-serif;
$font-family_2: "Poppins", sans-serif;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
--------------------------------------------------------------*/
body {
  font-family: $font-family_1;
  color: $text_dark;
  font-variant-ligatures: no-common-ligatures;
  background-color: #f2f2f2;
}

section {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-family: $font-family_1;
  color: $color_primary1;
}

h2 {
  font-family: $font-family_1;
}

h3 {
  font-family: $font-family_1;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-family_2;
}

p,
li {
  font-family: $font-family_2;
}
/*--------------------------------------------------------------
--------------------------------------------------------------*/
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
}

.tab-navigation {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 16px 0px;
  background-color: $color_primary1;
  margin-bottom: 3rem;
  transition: all .25s ease-in-out;
  transform-origin: top center;
  &.fix-style {
    padding: 8px 0;
    .nav {
          .nav-link {
      font-size: 16px;
      &.active {
        padding: 8px 12px;
      }
    }
    }

  }
  .container {
    justify-content: center;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    .nav-link {
      color: $color_primary2;
      font-size: 20px;
      font-style: normal;
      line-height: normal;
      text-transform: capitalize;
      &.active {
        display: flex;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        color: $color_primary1;
        background-color: $color_primary2;
        border-radius: 5px;
      }
    }
  }
}

.tab-content {
  .tab-title {
    text-align: center;
    h2 {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  .tab-outlines {
    width: 100%;
    border-top: 3px solid $text_dark;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 2rem;

    .outline {
      display: flex;
      justify-content: start;
      align-items: end;
      padding: 4px;
      margin-bottom: 24px;
      h2 {
        color: $text_dark;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0;
        margin-left: 8px;
      }
      img {
        width: 24px;
        height: 24px;
        padding: 2px;
      }
    }
  }

  .table {
    font-family: $font-family_2;
    font-size: 14px;
    thead {
      tr th {
        font-weight: bold;
        padding-top: 1rem;
        text-wrap: nowrap;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    tbody {
      th {
        text-wrap: nowrap;
        padding: 1rem;
      }
    }
  }

  .title-lvl2 {
    border-bottom: 2px solid $text_dark;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    .outline {
      display: flex;
      justify-content: start;
      align-items: baseline;
      h2 {
        margin-left: 8px;
        margin-bottom: 0;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .alert {
    margin: 3rem auto 1rem;
  }
}
/*--------------------------------------------------------------
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
}

@media (max-width: 991px) {
}

@media (min-width: 991px) {
}

@media (min-width: 992px) {
}

@media (max-width: 992px) {
}
